[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/googlecolab/colabtools/blob/master/notebooks/colab-github-demo.ipynb)

# Python Tutorials

## Introduction : 
Python is a versatile and beginner-friendly programming language. It is known for its clear syntax, readability, and extensive libraries. Python is widely used in various domains, including web development, data science, machine learning, and artificial intelligence.

### Setting up Python:
*we will be using the google colab for the practice, however we highly recommened to install python in your local devices as well. I personally prefer[![anaconda](https://www.anaconda.com/wp-content/uploads/2022/12/anaconda_logo.svg)](https://www.anaconda.com/download/).*

## Basic Data Types 
![pythonDataStructures](./image/Python-data-structure.jpg)
|Types| Sub-types |py cmd | Description / examples | 
|-----| ----  | -------| ----   |
|Numeric| Integers | int | Whole Numbers (Positive, Negative or Zero)  x = 50|
|Numeric| Floats | float |Decimal Numbers x = 50.0|
|Numeric| Complex | complex | x = 2j |
|Text| Strings | str |Text or Numbers enclosed in single or double quotes "Health Data Science"|
| Booleans |Booleans| bool | True or False values x = True|
|Sequence | List | list | collection of data x = ["Health", "Data", "Sceince", 2023] | 
|Sequence | Tuple | tuple |same as list but can't be modified(immutable), x = ('Health', 'Data', 'Science') | 
|Sequence | Set | set |same as list but no duplicate elements, x = {'Health', 'Data', 'Science'} |
|Mapping | Dictionary | dict| unordered, store key-value map, x = {'subject':"Health Data Science", 'noStudent':10} | 
|None | None | None | | 


**Check the Data type** 
to check the data type use *type(var)*

### Numerical Type

In [1]:
# the line start with '#' is comment it is not executed 

# Numerical Data types (int and float)
x = 10 
y = 10.0 
print('type of x', type(x), '\ntype of y', type(y))

type of x <class 'int'>
type of y <class 'float'>

If we add int numberical data type with float numerical data type. what will be the data type of the result?

In [2]:
a  = x+y 
## type your command to check the data type of a

In [ ]:
## check with multiplication and division :

Complex numbers is specifieid as (real part)+(imiginary part)j

In [11]:
x = 1+2j
type(x), type(y), type(x+y), x+y

(complex, float, complex, (11+2j))

### Text Type 

#### Strings : 
collection of one or more chracters put in a single quote, double quote, or triple-quote.

In [ ]:
str1 = 'String with single quote'
str2 = "this one is with double quote"
str3 = ''' this 
                is 
                    with 
                        triple-quote. '''

# check the type of the these variables

### Boolean 
True and False

In [12]:
bol1 = True 
bol2 = 2<1

# check the type of the these variables with
print('Data type of bol1 {tbol1}, Data type of bol2 {tbol2}'.format(tbol1 = type(bol1), tbol2 = type(bol2)))

Data type of bol1 <class 'bool'>, Data type of bol2 <class 'bool'>

## Sequence 

### List 
- ordered collection 
- can hold different data types (i.e mix of strings, float, int etc. )
- can be created using square brakets []

In [13]:
lst1 = ['Data', 'Science']
lst2 = [1,2,3]
lst3 = ['Data', 1, 2, 'ok', 1.2, 2+4j]
lst4 = [['Health'], ['Data', 'Science']]

### Tuple 
- ordered collection 
- immutable (can't be modified)
- can be created using parentheses (), but not the sufficient condition.

In [14]:
tup1 = ('Health', 'Data', 'Science')
tup2 = (203,204,403,506)
tup3 = (tup1,tup2)
tup4 = ('Health Data Science')
tup5 = tuple('python')

## Identify which is not the tuple ..

### Set 
- unordered collection of data 
- has no duplicate elements and mutable 
- can be created using {}

In [16]:
set1 = {1,2,3,4}
set2 = set([1,2,2,3,4,4,4,4])